---
import Layout from '../layouts/Layout.astro'
import SubTitle from '../components/SubTitle.astro'
import { Image } from 'astro:assets'
---

<Layout title="JErickDev">
  <SubTitle subtitle="EcommerceTech"/>
  <p>
    Aplicaci&oacute;n web de comercio electr&oacute;nico robusta y completa que desarroll&eacute; utilizando tecnolog&iacute;as modernas con React, redux, NodeJS, Express, Sequelize. Para el diseno se utilizo MaterialUI Y para la base de datos PostgreSQL. Cuenta con funcionalidades de paginacion, filtros y ordenamientos de productos para facilitar la navegacion. Ademas incluye un carrito de compras integradom un proceso de checkout y un panel de administrador para gestionar los productos y las ordenes.
  </p>
  <div class="flex flex-row">
   <h3 class='bg-green text-black'>SitioWeb</h3>
  </div>
  <div class='flex flex-row'>
    <h3 class='bg-green text-black'>
      Tecnologias usadas
    </h3>
    <p>
      React, Redux, NodeJS, Express, Sequelize, PostgreSQL, MaterialUI
    </p>
  </div>
  <div class="flex flex-row">
   <h3 class='bg-green text-black'>Github</h3>
   <p>Repositorio</p>
  </div>
  <Image src="/ecommerceTech.jpeg" alt="portada EcommerceTech" width="300" height="300" />

</Layout>
