---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>

		<h1>Welcome to <span>Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		
	</main>
</Layout>

<style is:global>
	* {
		box-sizing: border-box;
		position: relative;
		min-width: 0;
	}

	body {
		min-height: 100dvh;
	}

	h1, h2, h3, h4 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}
</style>


