---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/Portada.astro';
import Banner from '../components/Banner.astro';
import Card from '../components/Card.astro';
import SubTitle from '../components/SubTitle.astro';
import AboutMe from '../components/AboutMe.astro';
import Tecnologias from '../components/ListTechnologies.astro';
import ILove from '../components/ILove.astro';
import SocialNetworks from '../components/SocialNetworks.astro';
---

<Layout title="JErickDev">
	<main class="flex flex-col max-w-[375px] sm:max-w-lg lg:max-w-2xl mx-auto space-y-4 transition-all ease-in-out">
		<Portada />
		<Banner />
		<Card />
		<SubTitle subtitle="Acerca de mi" >
			<AboutMe />
		</SubTitle>
		<SubTitle subtitle="Tecnolog&iacute;as">
			<Tecnologias />
		</SubTitle>
		<SubTitle subtitle="Me encanta">
			<ILove />
		</SubTitle>
		<SubTitle subtitle="Encu&eacute;ntrame">
			<SocialNetworks />
		</SubTitle>
	</main>
</Layout>

<style is:global>
	* {
		box-sizing: border-box;
		position: relative;
		min-width: 0;
	}

	body {
		min-height: 100dvh;
	}

	h1, h2, h3, h4 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}
</style>


