---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col max-w-[475px] sm:max-w-lg lg:max-w-2xl mx-auto space-y-4">
		<div>
			<img src="./logoArtJErick.png" width="960" />
		</div>
		<div class="mt-2 p-3 px-100 bg-jsubtext dark:bg-banner rounded-lg w-960">
			<p class="text-center text-lg text-text">Hola, soy un Desarrollador FullStack en Peru</p>
		</div>
		<div class="flex space-x-3 items-center justify-between">
			<div>
				<p class="text-5xl text-text">J. Erick Garcia</p>
				<p class="text-lg text-text">Artesano Digital ( Linuxero / Developer )</p>
			</div>
			<div class="max-w-lg mx-auto rounded-full shadow-lg scale-100">
				<img src="./photoProfile.jpg" class="w-32 h-32 rounded-full border-white border-small"/>
			</div>
		</div>
		<div>
			<p class="text-2xl underline underline-offset-8 decoration-4 decoration-banner text-text">Acerca de mi</p>
		</div>
		<div>
			<p class="text-justify indent-8 text-lg text-text">
				Soy un Full Stack Web Developer con formación técnica en Mecanico Avionico con experiencia en soporte informático, destacándome en el ensamblaje y mantenimiento de equipos. Actualmente complemento mi experiencia con estudios en Ingeniería de Sistemas e Informática en la Universidad Continental, ampliando mis habilidades para proyectos innovadores. Poseo habilidades en pensamiento crítico, resolución de problemas y trabajo en equipo, buscando integrarme a un equipo dinámico donde pueda aportar efectivamente a los objetivos del proyecto.
			</p>
			<div class="flex justify-center">
				<a>
					<button class="bg-green dark:bg-jpurple text-center text-text font-bold p-3 rounded-lg my-5 px-5">Mi Portafolio > </button>
				</a>
			</div>
		</div>
		<div>
			<p class="text-2xl underline underline-offset-8 decoration-4 decoration-banner text-text">Tecnologias</p>
		</div>
		<div class="flex flex-wrap gap-2">
			<!-- shield bage -->
			<!-- Linux -->
			<img src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black" />
			<!-- Javascript -->
			<img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" />
			<!-- HTML5 -->
			<img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" />
			<!-- CSS3 -->
			<img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" />
			<!-- React -->
			<img src="https://img.shields.io/badge/React-61DAFB?style=for-the-badge&logo=react&logoColor=black" />
			<!-- Redux -->
			<img src="https://img.shields.io/badge/Redux-764ABC?style=for-the-badge&logo=redux&logoColor=white" />
			<!-- React Router -->
			<img src="https://img.shields.io/badge/React_Router-CA4245?style=for-the-badge&logo=react-router&logoColor=white" />
			<!-- Node.js -->
			<img src="https://img.shields.io/badge/Node.js-339933?style=for-the-badge&logo=node.js&logoColor=white" />
			<!-- Express -->
			<img src="https://img.shields.io/badge/Express-000000?style=for-the-badge&logo=express&logoColor=white" />
			<!-- Postgres -->
			<img src="https://img.shields.io/badge/PostgreSQL-336791?style=for-the-badge&logo=postgresql&logoColor=white" />
			<!-- MaterialUI -->
			<img src="https://img.shields.io/badge/Material_UI-0081CB?style=for-the-badge&logo=material-ui&logoColor=white" />
			<!-- TailwindCSS -->
			<img src="https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=for-the-badge&logo=tailwind-css&logoColor=white" />
			<!-- Sass -->
			<img src="https://img.shields.io/badge/Sass-CC6699?style=for-the-badge&logo=sass&logoColor=white" />
			<!-- Markdown -->
			<img src="https://img.shields.io/badge/Markdown-000000?style=for-the-badge&logo=markdown&logoColor=white" />
			<!-- Git -->
			<img src="https://img.shields.io/badge/Git-F05032?style=for-the-badge&logo=git&logoColor=white" />
			<!-- Github -->
			<img src="https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=github&logoColor=white" />
			

		</div>
		<div class="text-2xl underline underline-offset-8 decoration-4 decoration-banner flex text-text">
			Yo 
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
				<path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
			</svg>
		</div>
		<div>
			<p class="text-lg text-text">Musica, Fisica, Pomodoro, Auto aprendizaje</p>
		</div>
		<div class="text-2xl underline underline-offset-8 decoration-4 decoration-banner text-text">
			Encuentrame
		</div>
		<div class="flex flex-col space-y-3">
			<div class="flex">
				<Icon name="mdi:github" size={25}/>
				<p class="text-lg text-text mx-2">@jerickgm89</p>
			</div>
			<div class="flex">
				<Icon name="mdi:linkedin" size={25}/>
				<p class="text-lg text-text mx-2">@jerickdev</p>
			</div>
			<div class="flex">
				<Icon name="mdi:instagram" size={25}/>
				<p class="text-lg text-text mx-2">JErickDev
				</p>
			</div>
		</div>
	</main>
</Layout>

<style is:global>
	* {
		box-sizing: border-box;
		position: relative;
		min-width: 0;
	}

	body {
		min-height: 100dvh;
	}

	h1, h2, h3, h4 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}
</style>


