---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Card from '../components/Card.astro';
import SubTitle from '../components/SubTitle.astro';
import AboutMe from '../components/AboutMe.astro';
import Tecnologias from '../components/ListTechnologies.astro';
import ILove from '../components/ILove.astro';
import SocialNetworks from '../components/SocialNetworks.astro';
---
<Layout title="JErickDev">
	<div class="animate__animated animate__slideInUp">
		<Banner />
		<Card />
		<SubTitle subtitle="Acerca de mi" >
			<AboutMe />
		</SubTitle>
		<SubTitle subtitle="Tecnolog&iacute;as">
			<Tecnologias />
		</SubTitle>
		<SubTitle subtitle="Me encanta">
			<ILove />
		</SubTitle>
		<SubTitle subtitle="Encu&eacute;ntrame">
			<SocialNetworks />
		</SubTitle>
	</div>
</Layout>