---
import Layout from '../layouts/Layout.astro';
import SubTitle from '../components/SubTitle.astro';
import {CardWorks} from '../components/CardWorks';
---

<Layout title="JErickDev">
	<div >
		<SubTitle subtitle='Proyectos'>
		<CardWorks
			title="EcommerceTech"
			image="/ecommerceTech.jpeg"
			description="Una aplicaci&oacute;n web de comercio electr&oacute;nico desarrollada con React y PostgreSQL"
        url="/ecommerceDetails/"
			client:load
		/>
		</SubTitle>
		<SubTitle subtitle='DotFiles'>
		<CardWorks
			title="Qtile Config"
			image="/qtile.jpg"
			description="Configuraci&oacute;n del Window Manager - Qtile para mi entorno de trabajo"
      url="https://github.com/jerickgm89/DocFilesQtile"
			client:load
		/>
		</SubTitle>
	</div>
</Layout>
