---
import Layout from '../layouts/Layout.astro';
import {Portada} from '../components/Portada';
import SubTitle from '../components/SubTitle.astro';
import {CardWorks} from '../components/CardWorks';
---

<Layout title="JErickDev">
	<div class="animate__animated animate__slideInUp">
		<SubTitle subtitle='Proyectos'>
		<CardWorks
			title="EcommerceTech"
			image="./ecommerceTech.jpeg"
			description="Una aplicacion web de comercio electronico desarrollada con React y PostgreSQL"
			client:load
		/>
		</SubTitle>
		<SubTitle subtitle='DotFiles'>
		<CardWorks
			title="Qtile Config"
			image="./qtile.jpg"
			description="Configuracion del Window Manager - Qtile para mi entorno de trabajo"
			client:load
		/>
		</SubTitle>
	</div>
</Layout>
