<div>
    <p class="text-justify indent-8 text-lg text-text">
        Soy un Full Stack Web Developer con formación técnica en Mecanico Avionico con experiencia en soporte informático, destacándome en el ensamblaje y mantenimiento de equipos. Actualmente complemento mi experiencia con estudios en Ingeniería de Sistemas e Informática en la Universidad Continental, ampliando mis habilidades para proyectos innovadores. Poseo habilidades en pensamiento crítico, resolución de problemas y trabajo en equipo, buscando integrarme a un equipo dinámico donde pueda aportar efectivamente a los objetivos del proyecto.
    </p>
    <div class="flex justify-center">
        <a>
            <button class="bg-green dark:bg-jpurple text-center text-text font-bold p-3 rounded-lg my-5 px-5">Mi Portafolio > </button>
        </a>
    </div>
</div>