---
import logoPerfil from '../image/photoProfile.jpg'
---
<div class="flex space-x-3 items-center justify-between ">
    <div>
        <p class="md:text-5xl text-4xl text-text font-bold">J. Erick Garc&iacute;a</p>
        <p class="text-lg text-text">Artesano Digital ( Linuxero / Developer )</p>
    </div>
    <div class="max-w-lg mx-auto rounded-full shadow-lg scale-100">
    <img src={logoPerfil.src} class="object-cover object-center w-24 h-24 rounded-full border-white border-small"/>
    </div>
</div>
