---
const props = Astro.props
import logo from '../image/logoJErickDev.png'
import {ButtonTheme} from './ButtonTheme'
---
<nav class="sticky top-0 z-10 backdrop-blur-xl">
  <div class="mx-auto max-w-6xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div  class="absolute inset-y-0 left-0 flex items-center sm:hidden z-20">
        <!-- Mobile menu button-->
        <button type="button" id='hamburgerMenu'  class="relative inline-flex items-center justify-center rounded-md p-2 text-text hover:bg-jblue hover:text-text focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg id="iconHamburguer" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg id="iconClose" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        
          <div class="flex flex-shrink-0 items-center">
            <img class="h-10 mr-2 w-auto" src={logo.src} alt="logo JErickDev">
            <p class="text-jblue text-lg font-bold">
              JErick<span class="text-jpurple">Dev</span>
            </p>
          </div>
        
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4 items-center">
            <a href="/" class="rounded-md hover:bg-jpurple px-3 py-2 text-sm font-medium text-white" aria-current="page">Acerca de mi</a>
            <a href="/proyects" class="rounded-md hover:bg-jpurple px-3 py-2 text-sm font-medium text-white" aria-current="page">Proyectos</a>
            <a href="/blog" class="rounded-md px-3 py-2 text-sm font-medium text-text hover:bg-jpurple hover:text-white">Blog</a>
            <a href="https://github.com/jerickgm89/porfolio" class="rounded-md px-3 py-2 text-sm font-medium text-text hover:bg-jpurple hover:text-white flex flex-row">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 32 32" {...props}>
	<path fill="currentColor" fill-rule="evenodd" d="M16 4C9.371 4 4 9.371 4 16c0 5.3 3.438 9.8 8.207 11.387c.602.11.82-.258.82-.578c0-.286-.011-1.04-.015-2.04c-3.34.723-4.043-1.609-4.043-1.609c-.547-1.387-1.332-1.758-1.332-1.758c-1.09-.742.082-.726.082-.726c1.203.086 1.836 1.234 1.836 1.234c1.07 1.836 2.808 1.305 3.492 1c.11-.777.422-1.305.762-1.605c-2.664-.301-5.465-1.332-5.465-5.93c0-1.313.469-2.383 1.234-3.223c-.121-.3-.535-1.523.117-3.175c0 0 1.008-.32 3.301 1.23A11.487 11.487 0 0 1 16 9.805c1.02.004 2.047.136 3.004.402c2.293-1.55 3.297-1.23 3.297-1.23c.656 1.652.246 2.875.12 3.175c.77.84 1.231 1.91 1.231 3.223c0 4.61-2.804 5.621-5.476 5.922c.43.367.812 1.101.812 2.219c0 1.605-.011 2.898-.011 3.293c0 .32.214.695.824.578C24.566 25.797 28 21.3 28 16c0-6.629-5.371-12-12-12" />
</svg>
            <p class="ml-2">Codigo</p></a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <ButtonTheme client:load/>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a href="/" class="block rounded-md px-3 py-2 text-base font-medium text-white" aria-current="page">Acerca de mi</a>
      <a href="/proyects" class="block rounded-md px-3 py-2 text-base font-medium text-white" aria-current="page">Proyects</a>
      <a href="/blog" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Blog</a>
      <a href="https://github.com/jerickgm89/porfolio" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Codigo</a>
    </div>
  </div>
</nav>

<style>
  #mobile-menu{
    transition: transform 0.8s ease-out;
    transform: translateX(-100%);
  }
</style>
<script>
window.addEventListener('DOMContentLoaded', (event) => {
  let hamburgerMenu = document.getElementById('hamburgerMenu')
  let mobileMenu = document.getElementById('mobile-menu')
  let iconHamburguer = document.getElementById('iconHamburguer')
  let iconClose = document.getElementById('iconClose')
   
  hamburgerMenu.onclick= () => {
    if (mobileMenu.classList.contains('hidden')) {
      mobileMenu.classList.remove('hidden')
      mobileMenu.classList.add('open')
      mobileMenu.style.transform = 'translateX(0)'
      iconHamburguer.classList.remove('block')
      iconHamburguer.classList.add('hidden')
      iconClose.classList.remove('hidden')
      iconClose.classList.add('block')
      // Obtén todos los enlaces en el menú
  let links = mobileMenu.querySelectorAll('a');
  // Añade un evento de escucha a cada enlace
  for (let i = 0; i < links.length; i++) {
    links[i].addEventListener('click', function(event) {
      // Previene el comportamiento predeterminado del clic
      event.preventDefault();

      // Oculta el menú
      mobileMenu.classList.remove('open')
      mobileMenu.classList.add('hidden')

      // Cambia los iconos del botón de hamburguesa
      iconHamburguer.classList.remove('hidden')
      iconHamburguer.classList.add('block')
      iconClose.classList.remove('block')
      iconClose.classList.add('hidden')

      // Navega a la página de destino después de que el menú se haya cerrado
      window.location.href = this.href;
    });
  }

    } else {
      mobileMenu.classList.remove('open')
      mobileMenu.classList.add('hidden')
      mobileMenu.style.transform = 'translateX(-100%)'
      iconHamburguer.classList.remove('hidden')
      iconHamburguer.classList.add('block')
      iconClose.classList.remove('block')
      iconClose.classList.add('hidden')
    }
  }

  window.addEventListener('load', function() {
  mobileMenu.classList.remove('open')
  mobileMenu.classList.add('hidden')
  mobileMenu.style.transform = 'translateX(-100%)'
  iconHamburguer.classList.remove('hidden')
  iconHamburguer.classList.add('block')
  iconClose.classList.remove('block')
  iconClose.classList.add('hidden')
   });

});
</script>
