---
import { Icon } from 'astro-icon/components'
---

<div class="flex flex-col space-y-3">
    <div class="flex">
        <Icon name="mdi:github" size={25}/>
        <p class="text-lg text-text mx-2">@jerickgm89</p>
    </div>
    <div class="flex">
        <Icon name="mdi:linkedin" size={25}/>
        <p class="text-lg text-text mx-2">@jerickdev</p>
    </div>
    <div class="flex">
        <Icon name="mdi:instagram" size={25}/>
        <p class="text-lg text-text mx-2">JErickDev
        </p>
    </div>
</div>