---
interface Props {
    subtitle: string;
}

const { subtitle } = Astro.props;
---
<div>
    <p class="text-2xl underline underline-offset-8 decoration-4 decoration-banner text-text my-4">
        {subtitle}
    </p>
</div>
<slot/>